@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.5s;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #81362c;
  border-radius: 10px;
}
  